.advantages {
  padding: 90px 0 371px 0;

  background:
    url("../img/iphone-screen-mobile@1x.png") no-repeat bottom center,
    linear-gradient(174deg,#ffffff 0px, #ffffff 90px, #f2f2f2 91px);
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item-title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.advantages__item-text {
  margin-top: 21px;

  text-align: center;
}
