.button {
  display: inline-block;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-align: center;

  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 30px;
  outline: none;
}
