.competitive {
  margin-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .competitive {
    margin-bottom: 25px;
  }

  /* orders */

  .competitive__form-person {
    order: 0;
  }

  .competitive__form-selfie {
    order: 3;
  }

  .competitive__form-contacts {
    order: 2;
  }

  .competitive__form-app {
    order: 1;
  }

  .competitive__form-comment {
    order: 4;
  }

  .competitive__form-submit {
    order: 5;
    max-width: 860px;
    width: 620px;
    margin: 18px auto 0;
    padding: 0;
  }

  /* ******** */

  .competitive__form-phone {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 60px;
      height: 60px;

      background: #e5e5e5 url("../img/icon-phone.svg") no-repeat center;
    }
  }

  .competitive__form-email {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 60px;
      height: 60px;

      background: #e5e5e5 url("../img/icon-mail.svg") no-repeat center;
    }
  }
}

@media (min-width: @desktop-width) {
  .competitive {
    margin-bottom: 52px;
  }

  .competitive__form-app {
    width: 434px;
    padding: 13px 30px 49px;
  }

  .competitive__form-contacts {
    max-width: 1200px;
    min-width: 940px;
    margin: 0 auto 58px;
    padding: 32px 0 13px;
  }

  .competitive__contacts-wrap {
    justify-content: center;
  }

  .competitive__form-selfie {
    max-width: 1200px;
    min-width: 940px;
    margin: 0 auto 58px;
    padding: 13px 0 20px;
  }

  .competitive__form-comment {
    max-width: 1200px;
    min-width: 940px;
    margin: 0 auto 58px;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .competitive__form-comment .main-form__group {
    margin-left: 0;
    margin-bottom: 21px;
  }

  .competitive__form-person .main-form__group {
    margin-left: 0;
  }
}
