.header {
  position: relative;
  z-index: 2;

  width: 100%;
  min-height: 69px;
  display: flex;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.3);

  &--open {
    background-color: rgba(40, 54, 69, 1);
  }

}

.header__logo {
  padding: 20px;
}
