.main-nav__toggle {
  width: 50px;
  height: 24px;

  font-size: 0;
  vertical-align: middle;

  outline: none;
  border: none;

  &--open {
    background: url("../img/icon-menu-burger.svg") no-repeat top center;
  }

  &--close {
    background: url("../img/icon-menu-cross.svg") no-repeat top center;
  }
}
