.main__page-title-wrap {
  margin-top: -70px;

  background: @primaryColor url("../img/bg-back-mobile@1x.jpg") no-repeat top center;
}

.main__page-title {
  .reset();
  padding: 100px 20px 81px;

  font-size: 24px;
  color: @secondaryColor;
  text-align: center;
  font-weight: 300;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .main__page-title-wrap {
    margin-top: -110px;

    background: @primaryColor url("../img/bg-back-tablet@1x.jpg") no-repeat top center;
  }

  .main__page-title {
    padding: 179px 20px 141px;

    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .main__page-title-wrap {
    margin-top: -110px;

    background: @primaryColor url("../img/bg-back-desktop@1x.jpg") no-repeat top center;
  }

  .main__page-title {
    padding: 173px 10px 99px;

    font-size: 50px;
    line-height: 61px;
  }
}
