.main__page-title-wrap {
  margin-top: -70px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: @primaryColor;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.main__page-title {
  .reset();
  padding: 100px 20px 81px;

  font-size: 24px;
  color: @secondaryColor;
  text-align: center;
  font-weight: 300;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .main__page-title-wrap {
    margin-top: -121px;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .main__page-title {
    padding: 179px 20px 141px;

    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .main__page-title-wrap {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .main__page-title {
    padding: 173px 10px 99px;

    font-size: 50px;
    line-height: 61px;
  }
}
