.main-form__group {
  .reset();
  display: flex;
  flex-direction: column;
  min-width: 276px;
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-form__label {
  display: inline-block;
  padding: 0 0 5px 22px;

  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.main-form__input {
  width: 100%;
  padding: 14px 20px 15px;

  font: inherit;
  font-size: 18px;
  line-height: 30px;

  border: 2px solid #e5e5e5;

  &::placeholder {
    color: @primaryColor;
  }

  &:hover {
    border-color: @primaryColor;
  }

  &:focus {
    border-color: #d22856;
    outline: #d22856;
  }

  &:active {
    border-color: #d22856;
  }
}

.main-form__fieldset {
  .reset();
  max-width: 520px;
  padding: 0 20px;
  margin: 0 auto 42px;

  border: none;

  &:nth-child(even) {
    background-color: #f1f1f1;
  }

  &--other-indent {
    position: relative;

    padding: 65px 20px 45px;
    margin-bottom: 32px;
  }
}

.main-form__fieldset-caption {
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;

  &--absolute {
    position: absolute;
    top: 39px;
    left: 0;
  }

  &--no-mobile {
    display: none;
  }
}

.main-form__switch-group {
  .reset();
  margin-top: 47px;
}

// стилизация чекбоксов

.main-form__switch-label {
  position: relative;

  display: inline-block;
  padding: 5px 0 0 69px;
  min-height: 35px;

  font-size: 18px;
  line-height: 30px;

  user-select: none;
}

.main-form__checkbox + .main-form__switch-label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 39px;
  height: 39px;

  border: 2px solid #e5e5e5;
  background-color: @secondaryColor;
}

.main-form__checkbox:checked + .main-form__switch-label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  background: #ffffff url("../img/icon-yes.svg") no-repeat center;
}

.main-form__checkbox:hover + .main-form__switch-label::before,
.main-form__checkbox:focus + .main-form__switch-label::before {
  border-color: @primaryColor;
}

.main-form__checkbox:active + .main-form__switch-label::before {
  border-color: #d22856;
}

// стилизация радио-кнопок

.main-form__radio-group {
  margin-top: 31px;

  &--first {
    margin-top: 45px;
  }
}

.main-form__radio-group .main-form__switch-label {
  min-height: 44px;
}

.main-form__radio + .main-form__switch-label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 39px;
  height: 39px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: @secondaryColor;
}

.main-form__radio:checked + .main-form__switch-label::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 12px;

  width: 15px;
  height: 15px;

  margin-top: -10px;

  background-color: #d22856;

  border-radius: 50%;
}

.main-form__radio:hover + .main-form__switch-label::before,
.main-form__radio:focus + .main-form__switch-label::before {
  border-color: @primaryColor;
}

.main-form__radio:active + .main-form__switch-label::before {
  border-color: #d22856;
}

/* ********** */

.main-form__last-fieldset {
  margin: 35px auto 48px;
}

.main-form__group-last-group {
  margin-top: 18px;
}

.main-form__textarea {
  width: 100%;
  height: 200px;
  padding: 14px 19px;

  font: inherit;
  font-size: 18px;
  line-height: 30px;
  color: @primaryColor;

  border: 2px solid #e5e5e5;

  resize: none;

  &::placeholder {
    color: @primaryColor;
  }

  &:hover {
    border-color: @primaryColor;
  }

  &:focus {
    border-color: #d22856;
    outline: #d22856;
  }

  &:active {
    border-color: #d22856;
  }
}

.main-form__send-group {
  .reset();

  text-align: center;
}

.main-form__button {
  max-width: 296px;
  padding: 15px 45px;

  font-size: 18px;
  line-height: 30px;
  color: @secondaryColor;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  background-color: #2aab6d;
  border: solid 2px #2aab6d;
  border-radius: 4px;

  &:hover {
    background-color: #1c9b5e;
    border-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
  }
}

.main-form__note {
  .reset();
  margin-top: 34px;

  line-height: 30px;
  text-align: center;
  color: @primaryColor;
  text-transform: uppercase;
}

.main-form__note-important {
  color: #d22856;
}

.main-form__note-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-form {
    display: flex;
    flex-direction: column;
  }

  .main-form__fieldset {
    max-width: 860px;
    width: 620px; // Временно
    margin-bottom: 58px;
    padding: 35px 0 26px;

    &:first-child {
      padding: 0;
    }
  }

  .main-form__fieldset--other-indent {
    padding: 13px 58px 49px;
  }

  .main-form__fieldset:not(:first-child) {
    border: 2px solid #e5e5e5;
  }

  .main-form__fieldset:nth-child(even) {
    background-color: @secondaryColor;
  }

  .main-form__group {
    flex-direction: row;
    align-items: center;
    min-width: 620px;
    margin-bottom: 53px;
  }

  .main-form__input-wrap {
    width: 81%;
    margin: 0 auto;
    height: 62px;

    overflow: hidden;
  }

  .main-form__label {
    width: 15%;
    padding: 0 5px 0 0;
  }

  .main-form__input {
    width: 85%;
    padding: 14px 22px 14px;
  }

  .main-form__fieldset-caption {
    padding: 0 25px;

    &--absolute {
      position: relative;
      top: 0;
    }

    &--no-mobile {
      display: block;
    }
  }

  .main-form__switch-label {
    padding-left: 59px;
  }

  .main-form__group--caption-bottom {
    flex-direction: column-reverse;
    margin-bottom: 32px;
    min-width: 616px;
  }

  .main-form__input-wrap .main-form__input {
    width: 100%;
    z-index: 2;
    position: relative;
    background: transparent;
    padding-right: 58px;
  }

  .main-form__group--caption-bottom .main-form__label {
    width: auto;
    align-self: flex-start;
    margin: 10px 0 0 79px;
  }

  .main-form__radio-group {
    margin-top: 31px;
  }

  .main-form__checkbox-group--first {
    margin-top: 30px;
  }

  .main-form__last-fieldset {
    margin: 2px auto 48px;
    padding-bottom: 51px;
  }

  .main-form__group-last-group {
    margin-top: 2px;
    min-width: 616px;
  }

  .main-form__textarea {
    width: 81%;
    height: 193px;
    margin: 0 auto;
    padding: 15px 19px 16px 19px;
  }

  .main-form__send-group {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 18px;
  }

  .main-form__button {
    max-width: 300px;
    padding: 15px 55px;
  }

  .main-form__note {
    margin-top: 19px;
  }
}

@media (min-width: @desktop-width) {
  .main-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main-form__fieldset {
    max-width: 470px;
    width: 470px;
    margin: 0;
    margin-bottom: 57px;
  }

  .main-form__fieldset-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .main-form__fieldset-caption {
    padding: 0 25px;
  }

  .main-form__group {
    min-width: 470px;
    margin: 11px 0 54px 30px;
  }

  .main-form__label {
    width: 20.5%;
  }

  .main-form__input {
    width: 72.5%;
    padding: 14px 19px;
  }

  .main-form__radio-group {
    margin-left: 43px;
  }

  .main-form__group--caption-bottom {
    width: 374px;
    min-width: 374px;
    margin: 0 37px 0 34px;
  }

  .main-form__input-wrap {
    width: 100%;
  }

  .main-form__group--caption-bottom .main-form__label {
    margin: 10px 0 0 20px;
  }

  .main-form__checkbox-wrap {
    margin-top: 21px;
  }

  .main-form__checkbox-group {
    margin: 10px 0 38px 45px;
    width: 260px;

    &:nth-child(3n + 1) {
      margin-left: 57px;
    }
  }

  .main-form__textarea {
    width: 88%;
    height: 128px;
  }

  .main-form__note-desktop {
    display: inline;
  }

  .main-form__send-group {
    max-width: 1200px;
    min-width: 940px;
    margin: 7px auto 50px;
    padding: 0;
  }
}
