.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
  }

  .research__container {
    position: relative;

    padding: 96px 23px 83px 329px;

    background: url("../img/icon-timer.svg") no-repeat;
    background-size: 240px auto;
    background-position: left 19px top 58px;

    &::after {
      content: "24";

      position: absolute;
      top: 114px;
      left: 37px;

      width: 204px;
      height: 203px;

      color: #d22856;
      font-family: inherit;
      font-size: 96px;
      font-weight: 700;
      line-height: 164px;
      text-align: center;

      border: 14px solid #d22856;
      border-radius: 50%;
    }
  }

  .research__title {
    max-width: 209px;
    display: inline-block;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
  }

  .research__text {
    .reset();
    margin: 9px 0;
  }

  .research__link {
    color: #d22856;
    border-bottom: 1px solid #d22856;
  }
}

@media (min-width: @desktop-width) {
  .research {
    background-color: #f2f2f2;
  }

  .research__container {
    padding: 159px 19px 152px 410px;

    background-size: 300px auto;
    background-position: left 43px top 63px;

    &::after {
      top: 133px;
      left: 66px;

      width: 254px;
      height: 253px;

      font-size: 124px;
      line-height: 204px;

      border-width: 17px;
    }
  }

  .research__title {
    max-width: none;

    line-height: 30px;
  }

  .research__text {
    margin: 22px 0 28px;

    font-size: 18px;
    line-height: 30px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
