.site-list {
  .resetList();
  flex-direction: column;

  &--open {
    display: flex;
  }

  &--close {
    display: none;
  }
}

.site-list__item {
  padding: 16px 20px 12px;

  text-align: center;

  border-top: 1px solid #000000;
  box-shadow: inset 0 1px 0 0 #485461;


  a {
    display: inline-block;

    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
    color: @secondaryColor;
    text-transform: uppercase;

    &:hover {
      color: #d22856;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .site-list__item-link--active {
    border-bottom: 2px solid @secondaryColor;

    &:hover {
      color: @secondaryColor;
    }

    &:active {
      color: @secondaryColor;
    }
  }

  &:last-child {
    box-shadow:
      inset 0 1px 0 0 #485461,
      0 1px 0 0 #000000;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    flex-direction: row;
  }

  .site-list__item {
    margin-left: 80px;
    padding: 0;

    box-shadow: none;
    border-top: none;

    &:first-child {
      margin-left: 20px;
    }

    &:last-child {
      box-shadow: none;
    }

    a {
      text-transform: none;
      font-weight: normal;
    }
  }
}
