.site-list {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;

  list-style: none;

  &--open {
    display: flex;
  }
}

.site-list__item  {
  padding: 20px;

  text-align: center;

  box-shadow: inset 0 1px hsla(0,0%,100%,.15), 0 -1px #000;

  a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
  }

}

