.site-list {
  .resetList();
  flex-direction: column;

  &--open {
    display: flex;
  }

  &--close {
    display: none;
  }
}

.site-list__item {
  padding: 20px;

  text-align: center;

  border-top: 1px solid #000000;
  box-shadow: inset 0 1px 0 0 #485461;


  a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: @secondaryColor;
    text-transform: uppercase;
  }

  &:last-child {
    box-shadow:
      inset 0 1px 0 0 #485461,
      0 1px 0 0 #000000;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    flex-direction: row;
  }

  .site-list__item {
    box-shadow: unset;
    border-top: unset;

    &:last-child {
      box-shadow: unset;
    }

    a {
      text-transform: unset;
      font-weight: normal;
    }
  }
}
