.slider__controls {
  .resetList();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider__controls-item {
  position: relative;

  width: 6px;
  height: 6px;
  padding: 3px;
  margin-right: 13px;

  vertical-align: middle;

  border: 3px solid transparent;
  border-radius: 50%;

  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;

    background-color: rgba(40, 54, 69, 0.3);
    border-radius: 50%;
  }
}

.slider__controls-item--active,
.slider__controls-item:hover {
  border: 3px solid @primaryColor;

  &::before {
    background-color: #ffffff;
  }
}

.slider__arrow-controls {
  position: relative;
  top: -202px;
}

.slider__arrow {
  position: absolute;
  top: 0;


  width: 22px;
  height: 41px;

  border: none;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

.slider__arrow-left {
  left: 3px;

  background: url("../img/icon-review-arrow-left.svg") no-repeat center;
}

.slider__arrow-right {
  right: 3px;

  background: url("../img/icon-review-arrow-right.svg") no-repeat center;
}
